* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

div {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  background: #c0c0c0;
  height: 100%;
}

main {
  margin-left: 240px;
  margin-bottom: 60px;
  overflow-y: hidden;
}

aside {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 8px;
  display: flex;
  align-items: stretch;
}

aside .tree-view {
  width: 100%;
  overflow-y: scroll;
}

details {
  margin-top: 12px;
}

summary {
  user-select: none;
  cursor: pointer;
  display: inline;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
  margin-bottom: 8px;
}

.title-bar-text {
  user-select: none;
}

.tree-view li {
  cursor: pointer;
  user-select: none;
}

.tree-view li .opened {
  font-weight: bold !important;
}

.window {
  position: absolute;
  width: 640px;
  height: 480px;
}

.window-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window-resize {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}

.window-body {
  height: calc(100% - 36px);
}

.window-content-container {
  height: 100%;
  width: 100%;
  display: block;
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  margin: 0;
}

.window-actions {
  position: absolute;
  top: 24px;
  right: 3px;
  width: 60px;
  height: 30px;
}

.window-actions button[aria-label="Edit"] {
  margin-left: 2px;
  background-image: url("icon/edit.png");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
  display: none;
}

.window-actions button[aria-label="Delete"] {
  margin-left: 2px;
  background-image: url("icon/delete.png");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
  display: none;
}

.window-actions button {
  width: 16px;
  min-width: 0px !important;
  float: right;
  margin: 2px;
}

.window-actions:hover button {
  display: inline-block;
}

.window-content {
  width: calc(100% - var(--element-spacing) * 2);
  height: calc(100% - var(--element-spacing) * 2);
  padding: var(--element-spacing);
}

.window-editbox {
  display: none;
}

.window-mdbox {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}